/* 
color palette from:
http://www.color-hex.com/color-palette/34455
*/

body {
  background-color: #faab3e;
}

#burger-header {
  margin-top: 50px;
  color: #ffda01;
  background-color: #a33815;
}

.side-menu {
  background-color: #e81802;
  color: 	#a33815;
}

li {
  margin: 5px;
  background-color: #ffda01;
  text-align: center;
  padding: 5px 0 5px 0;
}

#submit-burger-form input {
  width: 80%;
}

ul {
  padding: 5px 0 5px 0;
}
